body {
  background-color: lightblue;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.player-hands {
  display: flex;
  justify-content: space-around;
}

.player-hand-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.player-hand-container.active {
  border: 1px solid black;
  border-radius: 10px;
}
